<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20151228001-UIPickerView-FlagChanged.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D52530841C310E0200C533ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D525309D1C310E0300C533ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D52530A81C310E0300C533ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
